@using NEST_App.Models

@model dynamic

@{Layout = "~/Views/Shared/_Layout.cshtml";}
@{ViewBag.Title = "Index";}
<script src="~/Content/detailViewResources/dv.js" type="text/javascript"></script>
<script src="~/Content/detailViewResources/filter.js" type="text/javascript"></script>

<script>
    function alluavfilter() {
        document.getElementById("filter_title").innerHTML = 'ALL UAVs TABLE';
        document.getElementById("UAV_table").style.display = 'block';
        document.getElementById("priority_table").style.display = 'none';
        document.getElementById("low_bat_table").style.display = 'none';
        document.getElementById("operator_table").style.display = 'none';
        document.getElementById("choose_uav_table").style.display = 'none';
        document.getElementById("outer_detail_div").style.display = 'block';
    }

    function operatorfilter() {
        document.getElementById("filter_title").innerHTML = 'OPERATOR TABLE';
        document.getElementById("UAV_table").style.display = 'none';
        document.getElementById("priority_table").style.display = 'none';
        document.getElementById("low_bat_table").style.display = 'none';
        document.getElementById("operator_table").style.display = 'block';
        document.getElementById("choose_uav_table").style.display = 'none';
        document.getElementById("outer_detail_div").style.display = 'none';

    }

    function priorityfilter() {
        document.getElementById("filter_title").innerHTML = 'PRIORITY TABLE';
        document.getElementById("UAV_table").style.display = 'none';
        document.getElementById("priority_table").style.display = 'block';
        document.getElementById("low_bat_table").style.display = 'none';
        document.getElementById("operator_table").style.display = 'none';
        document.getElementById("choose_uav_table").style.display = 'none';
        document.getElementById("outer_detail_div").style.display = 'none';

    }


    //function low_batteryfilter() {
    //    document.getElementById("filter_title").innerHTML = 'LOW BATTERY TABLE';
    //    document.getElementById("UAV_table").style.display = 'none';
    //    document.getElementById("priority_table").style.display = 'none';
    //    document.getElementById("low_bat_table").style.display = 'block';
    //    var table = document.getElementById("low_bat_table");

    //    if (table != null) {
    //        for (var i = 1; i <= table.rows.length; i++)
    //        {
    //            var low_bat = table.rows[i].cells[2];
    //            alert(low_bat);
    //            if (table.rows[i].cells[2] < 0.20)
    //                table.rows[i].style.display = 'block';
    //            else
    //                table.rows[i].style.display = 'none';
    //        }
    //    }



        //for(var i = 1; i < table.rows.length; i++)
        //{
        //    if (table.rows[i].cells[2].innerHTML < 0.20)
        //        table.rows[i].style.display = 'block';
        //    else
        //        table.rows[i].style.display = 'none';
        //}
    //}

    
   
</script>


<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />


    @*Dropdown List for filter out*@
    <div class="dropdown" style="padding: 0; height: 70px;">
        <p id="filter_title" style="font-size: 25px; float: left; margin-top: 10px; margin-right: 20px;">ALL UAVs TABLE</p>
        <ul>
            <li class="drop_li_outside" id="drop_li_outside">
                Choose option for filtering out　▼
                <ul class="drop_ul_inside">
                    <li class="drop_li_inside" onclick="alluavfilter();">All UAVs</li>
                    <li class="drop_li_inside" onclick="operatorfilter();">Operator</li>
                    <li class="drop_li_inside" onclick="priorityfilter();">Priority</li>
                    <li class="drop_li_inside" onclick="low_batteryfilter();">Low Battery</li>
                </ul>
            </li>
        </ul>

       
    </div>

    <div class="outside">
        <div class="table">
            <p id="choose_uav_table" style="display: none; color: red;"> Please choose 'ALL UAVs' filter for UAV detail.</p>

            @*/////////////////////////priority filter table@*/////////////////////////*@
            <table class="UAV_table" id="priority_table" style="display: none;">
                <thead>
                    <tr>
                        <th id="uavid">UAV</th>
                        <th id="callsign">Callsign</th>
                        <th id="priority_th">Priority</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (Mission miss in Model.missions)
                        {
                        <tr id=@miss.Schedule.UAV.Id.ToString()>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Callsign)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Priority)
                            </td>
                        </tr>
                        }
                </tbody>
            </table>

            @*/////////////////////////low battery filter table@*/////////////////////////*@
            <table class="UAV_table" id="low_bat_table" style="display: none;">
                <thead>
                    <tr>
                        <th>UAV</th>
                        <th>Callsign</th>
                        <th>Battery</th>
                        <th>ETA</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Mission miss in Model.missions)
                    {
                        <tr id=@miss.Schedule.UAV.Id.ToString()>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Callsign)
                            </td>
                            <td id="low_bat">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.FlightStates.FirstOrDefault().BatteryLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => miss.EstimatedCompletionTime)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
            @*/////////////////////////Operator filter table@*/////////////////////////*@
            <table class="UAV_table" id="operator_table" style="display: none;">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>User Name</th>
                        <th>UAV ID</th>
                        <th>Callsign</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (Mission miss in Model.missions)
                    {
                    <tr id=@miss.Schedule.UAV.Id.ToString()>
                        <td>
                            @Html.DisplayFor(modelItem => miss.Schedule.UAV.User.user_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => miss.Schedule.UAV.User.username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => miss.Schedule.UAV.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => miss.Schedule.UAV.Callsign)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            @*/////////////////////////Regular Table/////////////////////////*@
            <table class="UAV_table" id="UAV_table" style="display: block;">
                <thead>
                    <tr>
                        <th>UAV</th>                                     @*0*@
                        <th>Callsign</th>                             @*1*@
                        <th style="display: none;">NumDeliveries</th>               @*2*@
                        <th style="display: none;">Mileage</th>                     @*3*@
                        <th>Battery</th>                        @*4*@
                        <th id="eta_th">ETA</th>                                    @*5*@
                        <th style="display: none;">STA</th>                         @*6*@
                        <th style="display: none;">Route</th>                       @*7*@
                        <th style="display: none;">Availability</th>                @*8*@
                        <th style="display: none;">Configuration</th>               @*9*@
                        <th style="display: none;">current_lat</th>                 @*10*@
                        <th style="display: none;">current_long</th>                @*11*@
                        <th style="display: none;">current_alt</th>                 @*12*@
                        <th style="display: none;">dest_lat</th>                    @*13*@
                        <th style="display: none;">dest_long</th>                   @*14*@
                        <th style="display: none;">payload</th>                     @*15*@
                        <th style="display: none;">Cost</th>                        @*16*@
                        <th style="display: none;">Priority</th>                    @*17*@
                        <th style="display: none;">User name</th>
                        <th style="display: none;">User id</th>
                        <th style="display: none;">uav_userid</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Mission miss in Model.missions)
                    {
                        <tr id="uavtable_row" @*id=@miss.Schedule.UAV.Id.ToString()*@>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Callsign)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.NumDeliveries)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Mileage)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.FlightStates.FirstOrDefault().BatteryLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => miss.EstimatedCompletionTime)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.ScheduledCompletionTime)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Phase)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.FlightPattern)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.Configurations.Classification)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.FlightStates.FirstOrDefault().Latitude)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.FlightStates.FirstOrDefault().Longitude)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.FlightStates.FirstOrDefault().Altitude)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Latitude)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Longitude)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.NumDeliveries)
                            </td>
                            <td style="display: none">
                                @Html.DisplayFor(modelItem => miss.Payload)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.FinancialCost)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Priority)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.User.username)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.User.user_id)
                            </td>
                            <td style="display: none;">
                                @Html.DisplayFor(modelItem => miss.Schedule.UAV.User_user_id)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="outer_detail_div" id="outer_detail_div" style="display: block;">
            <p class="detail_title" id="detail_title">
                UAV #
            </p>
            <div class="detail_statue_metrics_div">
                <div class="detail_statue">
                    <p class="title">Status</p>
                    <p class="details">
                        Delivering package <br />
                    <p class="details" id="ETA">ETA: </p>
                    <p class="details" id="STA">STA: </p>
                    <p class="details" id="route">Route:  </p>
                    <p class="details" id="avail">Availability: </p>
                    <p class="details" id="conf">Configuration:
                    <p class="details"> Current Coord: </p>
                    <p class="details" id="curr_lat"> &nbsp;&nbsp;&nbsp;&nbsp;LAT:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="details" id="curr_long"> &nbsp;&nbsp;&nbsp;&nbsp;LONG:&nbsp;</p>
                    <p class="details" id="curr_alt"> &nbsp;&nbsp;&nbsp;&nbsp;ALT:&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <p class="details"> Destination Coord:</p>
                    <p class="details" id="dest_lat"> &nbsp;&nbsp;&nbsp;&nbsp;LAT:&nbsp;&nbsp;&nbsp;&nbsp; </p>
                    <p class="details" id="dest_long"> &nbsp;&nbsp;&nbsp;&nbsp;LONG:&nbsp;</p>
                </div>
                <div class="detail_metrics">
                    <p class="title">Metrics</p>
                    <p class="details" id="battery"> Battery: </p>
                    <p class="details" id="mileage"> Total Miles: </p>
                    <p class="details" id="numdeliveries"> Current Delivery: </p>
                    <p class="details" id="total_deliveries"> Total Delivery: </p>
                </div>

                <div class="detail_acitivity">
                    <p class="title">Activity Log</p>
                    <p class="details">
                        <table>
                            <tr class="UAV_time_tr">
                                <td class="UAV_time_td">
                                    Base Off
                                </td>
                                <td class="UAV_time_td_2nd">
                                    9:00 AM
                                </td>
                            </tr>
                            <tr class="UAV_time_tr">
                                <td class="UAV_time_td">
                                    Re-routed
                                </td>
                                <td class="UAV_time_td_2nd">
                                    N/A
                                </td>
                            </tr>
                            <tr class="UAV_time_tr">
                                <td class="UAV_time_td">
                                    Force Land
                                </td>
                                <td class="UAV_time_td_2nd">
                                    N/A
                                </td>
                            </tr>
                            <tr class="UAV_time_tr">
                                <td class="UAV_time_td">
                                    Dest. Off
                                </td>
                                <td class="UAV_time_td_2nd">
                                    9:22 AM
                                </td>
                            </tr>
                            <tr class="UAV_time_tr">
                                <td class="UAV_time_td" id="UAV_time_td">
                                    Delivered #
                                </td>
                                <td class="UAV_time_td_2nd" id="UAV_time_td2">
                                    9:25 AM
                                </td>
                            </tr>
                            <tr class="UAV_time_tr">
                                <td class="UAV_time_td">
                                    Returning
                                </td>
                                <td class="UAV_time_td_2nd" id="UAV_time_td2;">
                                    9:26 AM
                                </td>
                            </tr>
                        </table>
                    </p>
                </div>
            </div>

            <div class="map">
                <div id="map-canvas"></div>
                <div class="detail_package">
                    <p class="title">Package</p>
                    <p class="details">
                        Dest. Addr: 3550 Nordhoff St, <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Northridge, CA 91330 <br />
                    </p>
                    <p class="details" id="payload" style="margin-bottom: 2px;">Package Contents: </p>
                    <p class="details" id="cost"> Total Cost of Package: $</p>
                    <p class="details">Customer Notes: Please do not leave package by front door.</p>
                </div>
            </div>
        </div>
    </div>

    <p><a class="btn btn-default" href="~/Sim/Index">Go to Simulation Page &raquo;</a>  <a class="btn btn-default" href="~/adminview/Index">Go to Admin View Page &raquo;</a></p>
</body>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-signalR")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/bundles/detailsJS")
@Styles.Render("~/bundles/detailsCSS")
@Scripts.Render("~/bundles/bootstrap")


<script src="~/Scripts/MarkerWithLabel.js"></script>
<script src="~/Scripts/InfoBox.js"></script>

