@using NEST_App.Models
@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .outside {
            border: none;
            padding: 10px;
            height: 600px;
            width: 100%;
        }

        .UAV_table {
            width: 36%;
            border: none;
            float: left;
            padding: 10px;
            margin: 5px;
        }

        .UAV_table tr {
            background-color: #ffffff;
            border: none;
            border-radius: 3px;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 6px;
            padding-right: 6px;
        }

        .UAV_table tr:hover {
            background-color: #cdf6f8
        }

        .UAV_table th {
            background-color: #0a074a;
            border-radius: 8px;
            border: 1px solid white;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 6px;
            padding-right: 6px;
            color: white;
            font-size: 15px;
        }

        .UAV_table td {
            border: 1px solid white;
            text-align: center;
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 5px;
        }

        .UAV_table td:hover {
            cursor: pointer;
        }

        .outer_detail_div {
            margin: 5px;
            padding-top: 12px;
            padding-bottom: 8px;
            padding-right: 8px;
            padding-left: 8px;
            border: none;
            border-radius: 8px;
            width: 62%;
            float: right;
            background-color: #dafaf3;
        }

        .detial_title {
            font-size: 25px;
            font-weight: bold;
            line-height: 90%;
            font-family: Verdana;
            color: #531403
        }

        .detail_statue_metrics_div {
            border: none;
            padding: 2px;
            width: 40%;
            float: left;
            margin-right: 2px;
        }

        .title {
            font-size:18px;
            font-weight: bold;
            line-height: 80%;
            font-family: Verdana;
            padding-top:3px;
            color: #0a074a;
            text-decoration: underline; 
        }

        .details {
            font-size: 15px;
            line-height: 100%;
            font-family: Verdana;
            padding-bottom: 0;
            color: #0a074a;
        }

        .detail_statue {
            border: 1px solid #2477f8;
            margin-bottom: 6px;
            border-radius: 8px;
            padding: 5px;
            padding-left: 8px;
            background-color: #fafbeb
        }

        .detail_metrics {
            border: 1px solid #2477f8;
            margin-top: 6px;
            border-radius: 8px;
            padding: 5px;
            padding-left: 8px;
            background-color: #fafbeb
        }

        .map {
            border: none;
            width: 59%;
            margin: 2px;
            margin-left: 0;
            float: right;
            height: 409px;   
        }

        #map-canvas {
            width: auto;
            height: 100%;
            margin: auto;
            padding: 0px;
            border: 1px solid #2477f8;
            border-radius: 8px;            
        }



    </style>

</head>
<body>
    <br />
    <div class="outside">

        <table class="UAV_table">
            <tr>
                <th>Callsign</th>
                <th>NumDeliveries</th>
                <th>Mileage</th>
                <th>Battery Level</th>
            </tr>
            @foreach (UAV uav in Model.UAVs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => uav.Callsign)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => uav.NumDeliveries)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => uav.Mileage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => uav.FlightStates.FirstOrDefault().BatteryLevel)
                    </td>
                </tr>
            }
        </table>

        <div class="outer_detail_div">
            @foreach (UAV uavid in Model.UAVs)
            {
                <p class="detial_title">
                    &nbsp;UAV: # @Html.DisplayFor(modelItem => uavid.Id) (@Html.DisplayFor(modelItem => uavid.Callsign)) Detail
                </p>
            }

            <div class="detail_statue_metrics_div">
                <div class="detail_statue">
                    <p class="title">Statue</p>
                    <p class="details">
                        Delivering package <br />
                        ETA: 9:02 PM <br />
                        STA: 9:00 PM <br />
                        Route: abstract <br />
                        Threats: none <br />
                        Availability: en route <br />
                        Configureation: fastest delivery <br />
                    </p>
                        @foreach(FlightState uav_coor in Model.FlightStates)
                        {
                            <p class="details">
                                Current Coord: <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LAT:&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => uav_coor.VelocityX), <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LONG:&nbsp;@Html.DisplayFor(modelItem => uav_coor.VelocityY),<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALT:&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => uav_coor.VelocityZ)<br />
                            </p>
                        }
                        @foreach (FlightState uav_coor in Model.FlightStates)
                        {
                            <p class="details">
                                Destination Coord: <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LAT:&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => uav_coor.VelocityX), <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LONG:&nbsp;@Html.DisplayFor(modelItem => uav_coor.VelocityY),<br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ALT:&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(modelItem => uav_coor.VelocityZ)<br />
                            </p>
                        }

                </div>
                <div class="detail_metrics">
                    <p class="title">Metrics</p>
                        @foreach (UAV uav in Model.UAVs)
                        {
                            <p class="details">
                                Battery: @Html.DisplayFor(modelItem => uav.FlightStates.FirstOrDefault().BatteryLevel) % <br />
                                Total Miles: @Html.DisplayFor(modelItem => uav.Mileage) miles<br />
                                Current Delivery: @Html.DisplayFor(modelItem => uav.NumDeliveries)<br />
                                Total Deliveries: @Html.DisplayFor(modelItem => uav.NumDeliveries)
                            </p>
                        }
                </div>
            </div>

            <div class="map">
                <div id="map-canvas"></div>
            </div>


        </div>


     </div>
</body>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Scripts/jquery.signalR-2.0.2.js")
@Scripts.Render("~/signalr/hubs")
<script type="text/javascript">
    $(document).ready(function () {
        var mapOptions = {
            zoom: 16,
            center: new google.maps.LatLng(34.2417, -118.529),
            disableDefaultUI: true,
            zoomControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            disableDoubleClickZoom: true,
        }
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    });


</script>
