@using NEST_App.Models
@model dynamic

@{
    ViewBag.Title = "UAVs: ";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br />
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>Callsign</th>
            <th>NumDeliveries</th>
            <th>Mileage</th>
            <th>Battery Level</th>
        </tr>
    
    @foreach (UAV uav in Model.UAVs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => uav.Callsign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uav.NumDeliveries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uav.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => uav.FlightStates.FirstOrDefault().BatteryLevel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=uav.Id }) |
                @Html.ActionLink("Details", "Details", new { id=uav.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=uav.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
