@model IEnumerable<NEST_App.Models.Schedule>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Schedule</h2>
    <dl class="dl-horizontal"></dl>
    </div>
@foreach (var sched in Model)
{
    <table class= "table">
        <tr>
            <th>
                UAV Callsign
            </th>
            <th>
                Estimated Delivery Time
            </th>
            <th>
                Scheduled Delivery Time
            </th>
            <th>
                Destination Coordinates
            </th>
            <th>
                Mission Phase
            </th>
            <th>
                Delivery Package
            </th>
        </tr>
        <tr>
             Missions:
             @foreach (var mission in sched.Missions)
             {
               <td>  @(mission.id) </td>
               <td>  @(mission.EstimatedCompletionTime) </td>
               <td>  @(mission.ScheduledCompletionTime) </td>
               <td>  @(mission.DestinationCoordinates) </td>
               <td>  @(mission.Phase)</td>
               <td>  @(mission.Payload)</td>
             }
        </tr>
        <tr>
            Maintenances:
            @foreach (var maint in sched.Maintenances)
            {
                <td> @("UAV id: " + maint.id.ToString()) </td>
                <td> @("Last Maintenance: " + maint.last_maintenance.ToString()) </td>
                <td> @("Next Maintenance: " + maint.next_maintenance.ToString()) </td>
            }
        </tr>
    </table>
}


