@using NEST_App.Models

@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<head>
    <title>Schedule</title>
    <link rel="stylesheet" type="text/css" href="~/Content/ScheduleView/schedCSS.css">
</head>
<div class="outer">
    <div id="sched">
        <h3>Missions:</h3>
        <table class="schedule">
            <tr id="row">
                <th>UAV Callsign:</th>
                <th>Estimated Delivery Time:</th>
                <th>Scheduled Delivery Time:</th>
                <th>Destination Coordinates: (lat, long)</th>
                <th>Mission Phase:</th>
                <th>Delivery Package:</th>
            </tr>

            @foreach (Mission miss in Model.missions)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => miss.Schedule.UAV.Callsign)</td>
                    <td>@Html.DisplayFor(modelItem => miss.EstimatedCompletionTime)</td>
                    <td>@Html.DisplayFor(modelItem => miss.ScheduledCompletionTime)</td>
                    <td>@Html.DisplayFor(modelItem => miss.Latitude), @Html.DisplayFor(modelItem => miss.Longitude)</td>
                    <td>@Html.DisplayFor(modelItem => miss.Phase)</td>
                    <td>@Html.DisplayFor(modelItem => miss.Payload)</td>
                </tr>
            }
        </table>
    </div>

    <div id="maint">
        <h3>Maintenances:</h3>
        <table class="maintenance">
            <tr>
                <th>UAV Callsign</th>
                <th>Last Maintenance:</th>
                <th>Next Maintenance:</th>
                <th>Time Remaining:</th>
            </tr>

            @foreach (Maintenance maint in Model.maint)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => maint.Schedule.UAV.Callsign):</td>
                    <td>@Html.DisplayFor(modelItem => maint.last_maintenance)</td>
                    <td>@Html.DisplayFor(modelItem => maint.last_maintenance.AddMonths(1))</td>
                    <td>@Html.DisplayFor(modelItem => maint.last_maintenance.AddMonths(1) - DateTime.Today)　days</td>
                </tr>
            }
        </table>
        <form id="m">
            UAV Callsign:
            <input type="text" name="callsign" />
            Date: 
            <input type="datetime-local" name="date" />
            <input type="submit" />
        </form>
    </div>
</div>




