@model IEnumerable<NEST_App.Models.Schedule>
@{
    //Layout ="~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@{
    ViewBag.Title = "Index";
}

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="dl-horizontal"></dl>
    </div>
@foreach (var sched in Model)
{
    <table cellspacing="8">
        <tr>
            <td>
                ScheduleID:
                @Html.DisplayFor(modelItem => sched.Id)
            </td>
                Missions:
                @Html.DisplayFor(modelItem => sched.Missions)
                @foreach (var mission in sched.Missions)
                {
                  <td>  @("MissionID: " + mission.id.ToString()) </td>
                  <td>  @("Estimated Completion Time: " + mission.EstimatedCompletionTime.ToString()) </td>
                  <td>  @("Scheduled Completion Time: " + mission.ScheduledCompletionTime.ToString()) </td>

                }
            <td>
                Maintenances:
                @foreach (var maint in sched.Maintenances)
                {
                    @Html.DisplayText(maint.id.ToString())
                }
            </td>
        </tr>
    </table>
}


