@model IEnumerable<NEST_App.Models.Schedule>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<div>
    <h2><u>Schedule</u></h2>
    <dl class="dl-horizontal"></dl>
    </div>
    <h3>Missions:</h3>

 <table class= "table">
        <tr>
            <th>
                UAV Callsign:
            </th>
            <th>
                Estimated Delivery Time:
            </th>
            <th>
                Scheduled Delivery Time:
            </th>
            <th>
                Destination Coordinates: (lat, long)
            </th>
            <th>
                Mission Phase:
            </th>
            <th>
                Delivery Package:
            </th>
        </tr>
 @foreach (var sched in Model)
 {
        <tr>
             @foreach (var mission in sched.Missions)
             {
               <td>  @(sched.UAV.Callsign.ToString())</td>
               <td>  @(mission.EstimatedCompletionTime) </td>
               <td>  @(mission.ScheduledCompletionTime) </td>
               <td>  @(mission.Latitude +","+ mission.Longitude) </td>
               <td>  @(mission.Phase)</td>
               <td>  @(mission.Payload)</td>
             }
            </tr>
  }
 </table>
<h3>Maintenances:</h3>

 <table class="table">
           <tr>
               <th>
                   UAV Callsign
               </th>
               <th>
                   Last Maintenance:
               </th>
               <th>
                   Next Maintenance:
               </th>
               <th>
                   Time Remaining:
               </th>
           </tr>
 @foreach (var sched in Model)
 {
           <tr>
               @foreach (var maint in sched.Maintenances)
                {
                   <td> @(maint.id) </td>
                   <td> @(maint.last_maintenance) </td>
                   <td> @(maint.next_maintenance) </td>
                   <td> @(maint.time_remaining)</td>
                }
            </tr>
 }
 </table>



