@{
    Layout = null;
}

@{
    ViewBag.Title = "Google Map";
}
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChFgvUNEr7eyQi9jdyD9zaFu8IUYdn8VI"></script>
    <script src="~/Scripts/jquery-2.1.0.js"></script>


    <div id="map-canvas"></div>

<script src="~/Scripts/proj4.js" type="text/javascript"></script>
<script src="~/Scripts/simulation.js" type="text/javascript"></script>
<script src="~/Scripts/vehicle.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")                                          
@Scripts.Render("~/Scripts/jquery.signalR-2.0.2.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/bundles/googMapJS")
@Styles.Render("~/bundles/googMapCSS")

