@using NEST_App.Models
@model dynamic
@{
    Layout = null;
}

@{
    ViewBag.Title = "Google Map";
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=drawing"></script>
@*<script src="~/Scripts/MarkerWithLabel.js"></script>*@
@*<script src="https://gist.githubusercontent.com/varatep/ba62923d248eed51b64a/raw/565a37bfc24f6d8b70a6bf411076298c443f44e1/MarkerWithLabel.js"></script>*@
<script src="https://cdn.rawgit.com/varatep/ba62923d248eed51b64a/raw/565a37bfc24f6d8b70a6bf411076298c443f44e1/MarkerWithLabel.js"></script>
<script src="~/Scripts/InfoBox.js"></script>
<script src="~/Scripts/jquery-2.1.2.js"></script>
<script src="~/Content/Map/GOOG/MapFunctions.js" type="text/javascript"></script>

<div id="map-canvas"></div>

<div class="right-buttons">
    <button type="button" id="goWaypoint" onclick="mapFunctions.goTo_show()">　Set Waypoint　</button>
    <button type="button" id="goevent" onclick="mapFunctions.eventlog_show()">　Event Log　<p class="nav-counter" id="nav-counter">·</p></button>
    <button type="button" id="progressbar" onclick="mapFunctions.progressbar_show()">　Mission progress　</button>
    <button type="button" id="filteruav" onclick="mapStyles.uavFilter()">　Filter UAVs　</button>
    <button type="button" id="base" onclick="mapStyles.BaseControl()">　Base　</button>
</div>


<div class="progress_div" id="progress_div">
    <div class="progress_table_div">
        <table class="progress_table" id="progress_table">
            @foreach (Mission mission_info in Model.missions)
            {
                <tr id="progress_table_tr" style="margin: 0px;">
                    <td id="progress_td" style="width: 130px; padding: 5px;">
                        <progress class="progressbar_in_td" value="0" max="100" id="progressbar_in_td" style="height:150%; width:100%; margin-top:3px;"></progress>
                    </td>
                    <td style="padding-left: 5px; padding-top: 3px;">
                        <b>ID: </b><p class="progress_info" id="progress_info_uavid" style="display: inline-block; margin: 1px; ">@Html.DisplayFor(modelItem => mission_info.id)</p> : @Html.DisplayFor(modelItem => mission_info.Schedule.UAV.Callsign)　<b>Phase: </b>@Html.DisplayFor(modelItem => mission_info.Phase) <br />
                    </td>
                </tr>
                <tr id="progress_table_tr2" style="border-bottom: 1px solid black;">
                    <td align="center"><p id="percentage" style="display: inline-block; font-size: 10px; margin-bottom: 0px;">VALUE % completed</p></td>
                    <td style="padding-left: 5px; padding-bottom: 3px;"><b>Distance: </b><p class="progress_info" id="progress_info_distance" style="display: inline-block; margin: 1px;">DISTANCE</p></td>
                </tr>
            }
        </table>

        <table class="progress_table_for_info" id="progress_table_for_info" style="display: none; font-size: 13px;">
            @foreach (Mission prog in Model.missions)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => prog.id)</td>
                    <td>@Html.DisplayFor(modelItem => prog.Schedule.UAV.Callsign)</td>
                    <td style="display: none;">@Html.DisplayFor(modelItem => prog.Latitude)</td>
                    <td style="display: none;">@Html.DisplayFor(modelItem => prog.Longitude)</td>
                    <td>Distance</td>
                    <td id="prog_phase">@Html.DisplayFor(modelItem => prog.Phase)</td>
                </tr>
            }
        </table>
    </div>
</div>


                            @*////////////////////////////////////////////Event Log window/////////////////////////////////////////////////////////////*@
<div class="eventlog" id="eventlog">
    <div class="event_table_div">
        <table class="eventlog_table" id="eventlog_table">
            <tr id="event_table_tr" style="border-bottom: 1px solid black; height: 60px;">
                <td id ="criticality_color"></td>
                <td id="event_info">
                    <b>UAV #</b> <p class ="eventinfo" id="event_info_uavid" style="display: inline-block; margin: 1px; ">[ID]</p> : <p class="eventinfo" id="event_info_callsign" style="margin: 1px;display: inline-block;">[CALLSIGN]</p><br />
                    <b>Reason:</b> <p class="eventinfo" id="event_info_msg" style="display: inline-block; margin:1px;">[MESSAGE]</p> <br />
                    <p class ="eventinfo" id="event_time" style="display: inline-block; margin: 1px; color: gray; font-size: 9px;">Now</p>
                </td>
                <td id="table_button">
                    <button id="event_button_accept" onclick="mapFunctions.RR_button_accept()">ACCEPT</button>
                    <button id="event_button_decline" onclick="mapFunctions.RR_button_decline()">DECLINE</button>
                </td>
                <td style="width: 5%; height: 60px;" >
                    <span class="glyphicon glyphicon-remove" onclick="mapFunctions.delete_event_row()" style="cursor: pointer;"></span>
                </td>
            </tr>
        </table>
    </div>

                @*/////////////////////////uav and user table@*/////////////////////////*@
                    <table class="event_uav_user" id="event_uav_user" style="display: none; width: 80%;">
                        <thead>
                            <tr>
                                <th>UAV</th>
                                <th>Owned By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UAV uav_user in Model.UAVs)
            {
                <tr class="eventlog_tr">
                    <td>@Html.DisplayFor(modelItem => uav_user.Id)</td>
                    <td>@Html.DisplayFor(modelItem => uav_user.User.username)</td>
                </tr>
            }
                        </tbody>
                    </table>

</div>


<div class="left-buttons">
    <div id="panel">
        <div id="color-palette"></div>
    </div>
    <button id="delete-button">Delete One</button>
    <button id="delete-all-button">Delete All</button>
</div>

<div id="gotouavdiv">
    <input type="text" id="enter_callsign" placeholder="UAV Callsign" />
    <button class="btn-default" id="gotouavbtn" onclick="
        mapFunctions.CenterOnUAV(
            mapFunctions.GetKeyFromCallsign(document.getElementById('enter_callsign').value)
        );">GO</button>
    <button class="btn-default" id="lockuavbtn" onclick="
    camLockedUAV = mapFunctions.GetKeyFromCallsign(document.getElementById('enter_callsign').value);
    console.log('Locked uav key is: ' + camLockedUAV);
    ">FOLLOW</button>
</div>

<!-- command pop up placeholder -->
<div id="CommPopPlaceHolder">
    <!-- drop waypoint window -->
    <div id="waypoint_popup">
        <div class="closeBtn"><span class="glyphicon glyphicon-remove" onclick="mapFunctions.goTo_hide()"></span></div>
        <h3 id="UAVId">Select an UAV first</h3>
        <h3>New Waypoint</h3>
        <p>
            (
            <input type="text" name="go_latitude" id="go_lat" placeholder="Latitude" />
            ,
            <input type="text" name="go_longitude" id="go_long" placeholder="Longitude" />
            )<button class="btn btn-default disabled" id="clickToGoBtn"><span class="glyphicon glyphicon-hand-down"></span></button>
        </p>
        <button class="btn btn-default disabled sendBtn" id="goBtn">GO</button>
        <button class="btn btn-default clear" id="clearBtn">CLEAR</button>
    </div>

    <!-- hold command window -->
    <div id="hold_popup" class="commandWindow">
        <div class="closeBtn"><span class="glyphicon glyphicon-remove" onclick="mapFunctions.hold_hide()"></span></div>
        <h3 class="UAVId">Select an UAV first</h3>
        <h4>Hold Position:</h4>
        <p>
            <input type="text" name="hold_time_amount" id="hold_time" placeholder="Time (in minutes)" />
        </p>
        <button class="btn btn-default" id="hold_click" onclick="">Ok</button>
        <button class="btn btn-default" onclick="mapFunctions.hold_hide()">Cancel</button>
    </div>

    <!-- adjust parameters command window -->
    <div id="adjust_popup" class="commandWindow">
        <div class="closeBtn"><span class="glyphicon glyphicon-remove" onclick="mapFunctions.adjust_hide()"></span></div>
        <h3 class="UAVId">Select an UAV first</h3>
        <h4>Hold Position:</h4>
        <p>
            Altitude: <input type="text" name="alt_amount" id="adjust_alt" placeholder="Altitude" />
        </p>
        <p>
            Throttle: <input type="text" name="throt_amount" id="adjust_throttle" placeholder="Throttle" />
        </p>
        <button class="btn btn-default" id="adjust_click" onclick="">Ok</button>
        <button class="btn btn-default" onclick="mapFunctions.adjust_hide()">Cancel</button>
    </div>

    <!--Return to base command window-->
    <div id="return_popup" class="commandWindow">
        <div class="closeBtn"><span class="glyphicon glyphicon-remove" onclick="mapFunctions.return_hide()"></span></div>
        <h3 class="UAVId">Select an UAV first</h3>
        <h3>Returning to base</h3>
        <p>Please confirm</p>
        <button class="btn btn-default" id="return_click" onclick="">Ok</button>
        <button class="btn btn-default" onclick="mapFunctions.return_hide()">Cancel</button>
    </div>

    <!--Force landing command window-->
    <div id="land_popup" class="commandWindow">
        <div class="closeBtn"><span class="glyphicon glyphicon-remove" onclick="mapFunctions.land_hide()"></span></div>
        <h3 class="UAVId">Select an UAV first</h3>
        <h3>Force Emergency Landing</h3>
        <p>Please confirm</p>
        <button class="btn btn-default" id="land_click" onclick="">Ok</button>
        <button class="btn btn-default" onclick="mapFunctions.land_hide()">Cancel</button>
    </div>

    <!-- send notification window -->
    <div id="notification">
        <div class="closeBtn"><span class="glyphicon glyphicon-remove" onclick="mapFunctions.note_hide()"></span></div>
        <h3>Send Notification</h3>
        <p>
            <input type="text" name="notifier" id="notifier" placeholder="Name" />
            <input type="text" name="message" id="message" placeholder="Message" />
        </p>
        <button class="btn btn-default sendBtn" id="send">SEND</button>
        <button class="btn btn-default clear">CLEAR</button>
    </div>

    
</div>         <!-- end of placeholder -->

<!-- USER INTERFACE PROMPT TO ACCEPT OR REJECT UAV ASSIGNMENT ON MAP -->
<div id="RR_outer_result" class="RR_outer_result">
    <p class="RR_choice_p" id="RR_choice_p">
        You have accepted UAV
    </p>
</div>

<div id="RR_outer">
    <div id="RoundRobin_popup">
        <div id="RR_close"><span class="glyphicon glyphicon-remove" onclick="mapFunctions.goTo_RR_hide()"></span></div>
        <p id="criticality" style="text-align:center; color:red; margin:0px; font-size:23px;font-weight:bold;"></p>
        <p style="margin-bottom:3px;">
            <span id="warningUavId"></span>
            <span id="warningUavCallsign"></span>
            <span id="warningReason"></span>
        </p>
        <button id="RR_button_accept" onclick="mapFunctions.RR_button_accept()">ACCEPT</button>
        <button id="RR_button_decline" onclick="mapFunctions.RR_button_decline()">DECLINE</button>
    </div>
</div>

@if (ViewBag.currentUser != null && ViewBag.assignedUavs != null)
{
    var user = ViewBag.currentUser;
    var assignments = ViewBag.assignedUavs;
    <script id="current_user" type="application/json">
        @Html.Raw(Json.Encode(user))
    </script>
    <script id="assignment_array" type="application/json">
        @Html.Raw(Json.Encode(assignments))
    </script>
    @Scripts.Render("/Content/NestScripts/assignment.js")
}

<script src="~/Scripts/proj4.js" type="text/javascript"></script>
<script src="~/Content/Map/GOOG/MapStyles.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- deprecated for bad form
<script src="~/Scripts/simulation.js" type="text/javascript"></script>
<script src="~/Scripts/vehicle.js" type="text/javascript"></script>
-->

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-signalR")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/googMapJS")
@Styles.Render("~/bundles/googMapCSS")
@Styles.Render("~/bundles/bootstrapLess")





