@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

@{
    ViewBag.Title = "Overview";
}
<script src="http://openlayers.org/en/v3.0.0/build/ol.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-2.1.0.js"></script>

<!--This is the map element OL refers to-->
<div id="map" class="map" ></div>

<div id="info">
    <p>Position: <span id="Position"></span></p>
    <p>Accuracy: <span id="Accuracy"></span></p>
    <p>Heading: <span id="Heading"></span></p>
    <p>Speed: <span id="Speed"></span></p>
    <p>Delta: <span id="Delta"></span></p>
</div>
<div id="MapViews">
    <div class="WindowTitle">Map Views</div>
    <div class="WindowContent">
        <form id="ViewsRadio">
            <input type="radio" name="view" id="View1" checked="checked" onclick="switchLayers(0)">
            <span>OpenStreetMaps</span><br>
            <input type="radio" name="view" id="View2" onclick="switchLayers(1)">
            <span>MapQuest</span><br>
            <input type="radio" name="view" id="View3" onclick="switchLayers(2)">
            <span>Bing Maps</span><br>
        </form>
    </div>
</div>
<div id="LayerFilter">
    <div class="WindowTitle">Filters</div>
    <div class="WindowContent">
        <div id="FilterBoxes">
            <input type="checkbox" name="Filter1">
            <span id="Filter1">Filter 1</span><br>
            <input type="checkbox" name="Filter2">
            <span id="Filter2">Filter 2</span><br>
            <input type="checkbox" name="Filter3">
            <span id="Filter3">Filter 3</span><br>
            <input type="checkbox" name="Filter4">
            <span id="Filter4">Filter 4</span><br>
        </div>
    </div>
</div>
<div id="Tools">
    <div id="ToolsMenu">
        <img src="../Content/origin.jpg" alt="" width="46" height="44" class="ToolIcon" id="Expand" onclick="triggerToolMenu()" />
        <input type="image" src="../Content/green.jpg" id="start" width="46" height="44" class="ToolIcon">
        <input type="image" src="../Content/red.jpg" id="stop" width="46" height="44" class="ToolIcon">
        <input type="image" src="../Content/yellow.jpg" id="loadDrones" width="46" height="44" class="ToolIcon">
        <img src="../Content/blue.jpg" width="46" height="44" alt="" class="ToolIcon" />
        <img src="../Content/purple.jpg" width="46" height="44" alt="" class="ToolIcon" />
    </div>
</div>

<script src="~/Scripts/simulation.js" type="text/javascript"></script>
<script src="~/Scripts/Vehicle.js" type="text/javascript"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery.signalR-2.0.2.js")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/bundles/mapJS")
@Styles.Render("~/bundles/mapCSS")